In [0]:
import pandas as pd

In [0]:
from google.colab import files

In [0]:
uploaded = files.upload()

In [0]:
uploaded

In [0]:
import io

In [0]:
df=pd.read_csv(io.StringIO(uploaded['supermarket_sales - Sheet1.csv'].decode('utf-8')))

In [0]:
df

      Invoice ID Branch  ... gross income Rating
0    750-67-8428      A  ...      26.1415    9.1
1    226-31-3081      C  ...       3.8200    9.6
2    631-41-3108      A  ...      16.2155    7.4
3    123-19-1176      A  ...      23.2880    8.4
4    373-73-7910      A  ...      30.2085    5.3
..           ...    ...  ...          ...    ...
995  233-67-5758      C  ...       2.0175    6.2
996  303-96-2227      B  ...      48.6900    4.4
997  727-02-1313      A  ...       1.5920    7.7
998  347-56-2442      A  ...       3.2910    4.1
999  849-09-3807      A  ...      30.9190    6.6

[1000 rows x 17 columns]

In [0]:
import numpy as np

In [0]:
print(max(df.Rating))

10.0

In [0]:
print(min(df.Rating))

4.0

In [0]:
df.describe() //mean value is greater than the median value

         Unitprice     Quantity  ...  grossincome      Rating
count  1000.000000  1000.000000  ...  1000.000000  1000.00000
mean     55.672130     5.512000  ...    15.379369     6.97270
std      26.494628     2.923765  ...    11.708825     1.71858
min      10.080000     1.000000  ...     0.508500     4.00000
25%      32.875000     3.000000  ...     5.924875     5.50000
50%      55.230000     5.000000  ...    12.088000     7.00000
75%      77.935000     8.000000  ...    22.445250     8.50000
max      99.960000    10.000000  ...    49.650000    10.00000

[8 rows x 8 columns]

In [0]:
df.shape     //comprises of 1000 observations and 17 characteristics

(1000, 17)

In [0]:
df.info   //data has float and integer values

<bound method DataFrame.info of       Invoice ID Branch       City  ... grossmarginpercentage grossincome Rating
0    750-67-8428      A     Yangon  ...              4.761905     26.1415    9.1
1    226-31-3081      C  Naypyitaw  ...              4.761905      3.8200    9.6
2    631-41-3108      A     Yangon  ...              4.761905     16.2155    7.4
3    123-19-1176      A     Yangon  ...              4.761905     23.2880    8.4
4    373-73-7910      A     Yangon  ...              4.761905     30.2085    5.3
..           ...    ...        ...  ...                   ...         ...    ...
995  233-67-5758      C  Naypyitaw  ...              4.761905      2.0175    6.2
996  303-96-2227      B   Mandalay  ...              4.761905     48.6900    4.4
997  727-02-1313      A     Yangon  ...              4.761905      1.5920    7.7
998  347-56-2442      A     Yangon  ...              4.761905      3.2910    4.1
999  849-09-3807      A     Yangon  ...              4.761905     30.9190    6.6

[1000 rows x 17 columns]>

In [0]:
df=df.drop(['Gender'],axis=1)  //to drop gender as it is not needed for now

In [0]:
df

      Invoice ID Branch       City  ... grossmarginpercentage grossincome  Rating
0    750-67-8428      A     Yangon  ...              4.761905     26.1415     9.1
1    226-31-3081      C  Naypyitaw  ...              4.761905      3.8200     9.6
2    631-41-3108      A     Yangon  ...              4.761905     16.2155     7.4
3    123-19-1176      A     Yangon  ...              4.761905     23.2880     8.4
4    373-73-7910      A     Yangon  ...              4.761905     30.2085     5.3
..           ...    ...        ...  ...                   ...         ...     ...
995  233-67-5758      C  Naypyitaw  ...              4.761905      2.0175     6.2
996  303-96-2227      B   Mandalay  ...              4.761905     48.6900     4.4
997  727-02-1313      A     Yangon  ...              4.761905      1.5920     7.7
998  347-56-2442      A     Yangon  ...              4.761905      3.2910     4.1
999  849-09-3807      A     Yangon  ...              4.761905     30.9190     6.6

[1000 rows x 16 columns]

In [0]:
df = df.drop_duplicates() //it has dropped the duplicate values
df

      Invoice ID Branch       City  ... grossmarginpercentage grossincome  Rating
0    750-67-8428      A     Yangon  ...              4.761905     26.1415     9.1
1    226-31-3081      C  Naypyitaw  ...              4.761905      3.8200     9.6
2    631-41-3108      A     Yangon  ...              4.761905     16.2155     7.4
3    123-19-1176      A     Yangon  ...              4.761905     23.2880     8.4
4    373-73-7910      A     Yangon  ...              4.761905     30.2085     5.3
..           ...    ...        ...  ...                   ...         ...     ...
995  233-67-5758      C  Naypyitaw  ...              4.761905      2.0175     6.2
996  303-96-2227      B   Mandalay  ...              4.761905     48.6900     4.4
997  727-02-1313      A     Yangon  ...              4.761905      1.5920     7.7
998  347-56-2442      A     Yangon  ...              4.761905      3.2910     4.1
999  849-09-3807      A     Yangon  ...              4.761905     30.9190     6.6

[1000 rows x 16 columns]

In [0]:
list(set(df.dtypes.tolist()))

[dtype('int64'), dtype('O'), dtype('float64')]

In [0]:
pip install numpy

Requirement already satisfied: numpy in /usr/local/lib/python3.6/dist-packages (1.18.1)

In [0]:
import numpy as np

In [0]:
newCogs=np.array(df.Unitprice)*np.array(df.Quantity) //cogs=Unitprice*Quantity
print(newCogs)

[522.83 106.96 324.31 465.76 604.17 597.73 413.04 735.6   72.52 164.52
  57.92 102.04 234.75 431.9  713.8  562.32 482.51 435.66 164.01  80.6
 430.2  263.94  66.4  172.8  265.89 420.72  33.52 175.34 441.8  224.01
 470.65 702.63 670.24 193.16 397.68  68.12 313.1  547.92 439.36 240.96
  86.72 112.22 414.72 789.6   30.74 375.84 510.21 180.09 113.58 826.3
 639.8  222.95  71.48  15.43  32.32 687.84  88.68 716.8  723.5  183.66
  74.22 334.38 495.63 158.1  302.96 158.7   66.94 585.66 787.7   18.33
 894.8  621.2  145.56 455.46 672.03 416.5  441.36 180.09 783.1  101.9
 595.14 290.04 154.   321.44 244.55 581.42 382.6  345.66  42.47 461.94
 189.52 448.6  153.86 579.24  89.75  97.16 878.7   74.7  158.25 496.2
  48.71 706.95 207.63 349.56 212.45 886.7  164.28 372.78 305.82 819.7
  32.98 294.63 509.88 522.63 727.11  81.06 109.7   51.36 109.6  106.88
 796.48 399.84 899.64 511.28 451.76 655.83 161.25 285.57 548.32 812.52
 277.34 552.78 139.36 524.7  487.8  270.66 131.55 206.52 519.1  580.
 898.   905.   686.    30.41 467.7  277.56 301.4  264.56 574.88 259.68
 366.16 241.92 749.16  98.88 647.76 461.45  72.17 251.4  874.98 560.34
 345.44  63.69 320.53 152.8  399.   340.56 955.8  989.8  307.68 486.64
 350.05 400.25 166.8  317.34 158.32 304.56 177.36 157.57 443.28 260.4
 449.82 307.76 155.   274.48  86.38  54.24 755.92 185.88  74.07 279.24
 231.12 147.04 790.2  102.2  163.55  74.29  87.4   25.29 166.   356.95
 114.9  229.96 429.87 259.    88.85 207.27 599.85 285.3   91.11 897.57
 236.07 839.34 461.8  139.26 207.27  18.28 123.85 283.92 758.96 172.02
 272.1  434.56  59.05  12.54  86.5  174.32 624.33 148.24 544.2  507.36
 162.74  31.77 756.81 295.28 519.4  186.28  87.05 221.1   66.1   89.69
 224.46 119.54 186.4  250.6  750.96 380.72 244.2   89.7  310.88 511.42
 418.95 351.9   28.78  95.   471.2  130.48  66.35 155.46 129.   263.76
 675.54  65.8  153.2  222.4   54.45 688.8  141.88 746.   282.96 355.4
 337.15  42.24 193.86  24.06 598.26 335.79 218.2  381.68 709.9  440.2
 559.68  37.    15.34 598.98 190.68 333.4   74.86 213.75 339.57 664.16
 403.   194.95  62.48  72.72 181.1  259.6  115.36 470.28 240.04  88.61
 199.64  39.01  48.61 204.76 119.68 505.4  281.61 710.32  79.44 163.82
 479.58 138.66  71.15 139.95 781.3  198.74  63.24 373.95 207.69 176.28
 206.37  39.42  91.56 308.85 129.12 390.96 498.9  377.04 204.52 145.44
 198.18  98.7  385.1   46.96  73.5  142.25 687.6  347.7  142.95 385.38
 144.27 391.79 538.3  485.15 133.95 701.37  71.95 714.   182.14 135.
 993.   361.83 383.11 243.    30.24 356.56 375.5  954.4   82.5   74.97
 647.68 755.76 199.58 439.32 164.96 326.72 461.88 263.76 143.6  193.5
 183.82 121.92 420.66 252.48 335.45 483.5  318.42 668.43 387.92  94.6
 329.32  53.22 498.45 299.56 204.7   75.82 280.62 323.2  486.63 127.54
 241.44 379.5   76.82 522.6   79.74 387.5  271.35 122.31 246.36 173.16
 236.58 184.88  13.98 198.75 684.53 269.04  68.95 274.84 226.12 119.1
 342.1   43.74 104.85  77.52 407.44  96.11 181.52  81.51 114.44 176.54
 115.8  252.15 972.1  203.36  16.28 365.49 372.19  62.61 336.35 906.5
 138.16  86.54 140.76 668.78  47.44 893.16 331.72 203.94  68.16 326.88
  87.2  707.44 802.89  12.78 133.7   19.15 276.6  137.22  27.07  39.12
 448.26 132.06 318.05  25.    83.08 147.8  696.6  793.9  465.7   35.89
 202.6  730.5  295.8   22.62 256.7  545.5  260.05 222.12  21.58  98.84
 502.62 160.2  431.3  580.56 322.2  195.54 166.3  336.28 343.7   38.6
 527.76 328.   185.7  603.8  369.8  197.96 410.9  148.6   22.96 699.12
  69.4  196.6  202.56 121.2  199.78 607.36 126.44 541.44  98.13 412.16
  73.97  31.9  138.8  186.62  88.45 193.44 145.5  504.3  306.45  95.7
 635.18 214.55 379.96 696.85 408.73  51.47 274.3  196.95  69.46 359.6
 137.13 499.02 224.64 125.74 490.26 457.05 156.84 119.72 543.6  882.81
 152.58 693.44 229.5  146.79 141.6  116.69  73.96  97.94 292.2  524.88
  92.04  75.88  80.72 112.62  71.2  155.24 294.2  548.55 257.7  396.36
 171.81 488.79 524.16 133.26 135.24 112.44 144.08 985.2  249.96 217.26
 194.22 892.   339.36 447.06 198.5  812.1  493.3  591.66 559.02 517.86
 410.2  266.7   70.91 144.78 429.55 569.17 241.2  127.08 257.08 139.02
  81.66 310.72 185.96  72.32 189.18 206.84 157.02 215.3  596.1   73.1
 279.18 169.68  45.58 225.6  290.4   44.46 156.6  419.94 184.25 140.64
  83.08  64.99 775.6  327.06 363.23 127.   375.55 199.16  30.61 115.78
  28.96 890.73 279.66  80.93 674.5  348.48 435.6  439.55 591.18 260.76
 215.04  91.61 662.13 832.5   91.35 157.76 121.74 825.8  159.9   12.09
 641.9  234.93 167.54 299.1  239.73 664.7  202.65  46.2   88.15 157.26
 296.37 708.4  111.34 580.16  60.25 174.24 421.26  33.63  30.98 247.4
 378.3  334.86 727.8  335.88 240.72  47.07  99.69 264.45 139.65  55.45
 128.91 119.98 352.5  871.   197.6  194.52 173.22  71.88 286.26  81.24
 560.4  186.8  220.23 269.12 454.8  167.54 448.56 293.88 589.5  291.
  39.48  34.81 295.92  42.96 138.48  98.2  129.66 635.6  145.76 201.3
 631.71 385.28 486.3  513.66 473.4  436.85 108.16 248.76 626.22 975.
 483.28  96.96 197.7  724.23 795.51 502.39 172.    68.98 124.96  77.1
 483.72 302.12 698.67 124.65 789.6  178.4  500.22  35.82 136.14 104.88
 178.92 815.67 132.36 257.39  93.36 228.   166.71 697.4  389.04 365.26
  89.28 168.    19.7  531.16  53.72 819.5  568.4  587.6  732.48 845.64
 389.27  84.83 143.26  75.38 253.36  38.42 652.3   52.65 110.61 568.61
  89.28 136.4  174.2  366.4  254.61 778.32 285.92 579.12 188.5  221.56
 772.   721.3  511.04  53.45 222.   763.68 228.18  82.14 382.56  68.58
 382.16 601.09 475.93  52.42 131.3  144.3  457.17  93.38 126.25 790.83
 174.4  379.04  30.62 352.08  50.8  522.06 575.12  54.95 181.41 412.37
  46.41 274.2  973.7  648.2   93.22  54.36  60.87 244.9   92.78 433.45
 138.06 241.6  471.73 440.64 680.31 309.88 186.36 200.92  17.75 621.8
  86.   402.6  324.85  95.15 388.96 425.68 318.08 271.04 384.64 235.8
 211.56  95.36  10.17 206.13 420.56  88.04 648.99 123.84 649.5  742.2
  84.48 250.28  94.8   91.3  285.11  52.38 192.7  267.78 558.7  175.32
 155.82  60.3   78.94  29.74  21.32 281.34  73.26  22.38 655.92 594.6
  74.1  196.96 372.33 527.9  479.75 328.59 168.96 113.24 345.54 428.67
  86.27  25.52 101.52 357.49 238.77 101.43 724.24 125.64  72.93 258.36
 173.74  56.5  214.3  534.36  93.16 522.08  52.35  39.75 720.16  96.8
 332.1   81.44 319.9  206.52 166.68 319.06  87.9  734.7   97.52 769.2
 418.3  463.28 462.45 141.9  302.7  793.28 425.18 283.62 599.2  315.36
 403.56 183.88 138.65  80.71 116.64 313.52 846.1  414.4  159.08 490.1
  87.45 224.52 744.96 410.72 298.8  212.94  42.85 378.68 206.91  78.78
 322.11  98.22  25.46 581.98 211.32  55.12  88.31 356.58 794.25  50.62
 599.52 166.7  744.4  448.56 378.9  257.16 552.23 447.4  276.27 343.74
 266.08 898.38 456.8  253.95  70.56 657.16 168.5   53.78 179.05 211.44
 119.73  65.7  251.4   84.16 395.46 297.99 454.41 276.12 158.   887.94
  91.98  41.78  15.5  290.46  66.66  76.54 299.7  243.03  47.4  172.45
 846.3  258.37 609.56 240.24 172.26  99.84 298.64 159.6   25.45  67.77
 238.36 232.6  877.32 699.72 674.59 318.55  29.52 496.   823.4  602.96
 282.8  766.   116.06 174.9   60.95  40.35 973.8   31.84  65.82 618.38]

In [0]:
co=np.array(df.cogs) //from table
print(co)

[522.83  76.4  324.31 465.76 604.17 597.73 413.04 735.6   72.52 164.52
  57.92 102.04 234.75 431.9  713.8  562.32 482.51 435.66 164.01  80.6
 430.2  263.94  66.4  172.8  265.89 420.72  33.52 175.34 441.8  224.01
 470.65 702.63 670.24 193.16 397.68  68.12 313.1  547.92 439.36 240.96
  86.72 112.22 414.72 789.6   30.74 375.84 510.21 180.09 113.58 826.3
 639.8  222.95  71.48  15.43  32.32 687.84  88.68 716.8  723.5  183.66
  74.22 334.38 495.63 158.1  302.96 158.7   66.94 585.66 787.7   18.33
 894.8  621.2  145.56 455.46 672.03 416.5  441.36 180.09 783.1  101.9
 595.14 290.04 154.   321.44 244.55 581.42 382.6  345.66  42.47 461.94
 189.52 448.6  153.86 579.24  89.75  97.16 878.7   74.7  158.25 496.2
  48.71 706.95 207.63 349.56 212.45 886.7  164.28 372.78 305.82 819.7
  32.98 294.63 509.88 522.63 727.11  81.06 109.7   51.36 109.6  106.88
 796.48 399.84 899.64 511.28 451.76 655.83 161.25 285.57 548.32 812.52
 277.34 552.78 139.36 524.7  487.8  270.66 131.55 206.52 519.1  580.
 898.   905.   686.    30.41 467.7  277.56 301.4  264.56 574.88 259.68
 366.16 241.92 749.16  98.88 647.76 461.45  72.17 251.4  874.98 560.34
 345.44  63.69 320.53 152.8  399.   340.56 955.8  989.8  307.68 486.64
 350.05 400.25 166.8  317.34 158.32 304.56 177.36 157.57 443.28 260.4
 449.82 307.76 155.   274.48  86.38  54.24 755.92 185.88  74.07 279.24
 231.12 147.04 790.2  102.2  163.55  74.29  87.4   25.29 166.   356.95
 114.9  229.96 429.87 259.    88.85 207.27 599.85 285.3   91.11 897.57
 236.07 839.34 461.8  139.26 207.27  18.28 123.85 283.92 758.96 172.02
 272.1  434.56  59.05  12.54  86.5  174.32 624.33 148.24 544.2  507.36
 162.74  31.77 756.81 295.28 519.4  186.28  87.05 221.1   66.1   89.69
 224.46 119.54 186.4  250.6  750.96 380.72 244.2   89.7  310.88 511.42
 418.95 351.9   28.78  95.   471.2  130.48  66.35 155.46 129.   263.76
 675.54  65.8  153.2  222.4   54.45 688.8  141.88 746.   282.96 355.4
 337.15  42.24 193.86  24.06 598.26 335.79 218.2  381.68 709.9  440.2
 559.68  37.    15.34 598.98 190.68 333.4   74.86 213.75 339.57 664.16
 403.   194.95  62.48  72.72 181.1  259.6  115.36 470.28 240.04  88.61
 199.64  39.01  48.61 204.76 119.68 505.4  281.61 710.32  79.44 163.82
 479.58 138.66  71.15 139.95 781.3  198.74  63.24 373.95 207.69 176.28
 206.37  39.42  91.56 308.85 129.12 390.96 498.9  377.04 204.52 145.44
 198.18  98.7  385.1   46.96  73.5  142.25 687.6  347.7  142.95 385.38
 144.27 391.79 538.3  485.15 133.95 701.37  71.95 714.   182.14 135.
 993.   361.83 383.11 243.    30.24 356.56 375.5  954.4   82.5   74.97
 647.68 755.76 199.58 439.32 164.96 326.72 461.88 263.76 143.6  193.5
 183.82 121.92 420.66 252.48 335.45 483.5  318.42 668.43 387.92  94.6
 329.32  53.22 498.45 299.56 204.7   75.82 280.62 323.2  486.63 127.54
 241.44 379.5   76.82 522.6   79.74 387.5  271.35 122.31 246.36 173.16
 236.58 184.88  13.98 198.75 684.53 269.04  68.95 274.84 226.12 119.1
 342.1   43.74 104.85  77.52 407.44  96.11 181.52  81.51 114.44 176.54
 115.8  252.15 972.1  203.36  16.28 365.49 372.19  62.61 336.35 906.5
 138.16  86.54 140.76 668.78  47.44 893.16 331.72 203.94  68.16 326.88
  87.2  707.44 802.89  12.78 133.7   19.15 276.6  137.22  27.07  39.12
 448.26 132.06 318.05  25.    83.08 147.8  696.6  793.9  465.7   35.89
 202.6  730.5  295.8   22.62 256.7  545.5  260.05 222.12  21.58  98.84
 502.62 160.2  431.3  580.56 322.2  195.54 166.3  336.28 343.7   38.6
 527.76 328.   185.7  603.8  369.8  197.96 410.9  148.6   22.96 699.12
  69.4  196.6  202.56 121.2  199.78 607.36 126.44 541.44  98.13 412.16
  73.97  31.9  138.8  186.62  88.45 193.44 145.5  504.3  306.45  95.7
 635.18 214.55 379.96 696.85 408.73  51.47 274.3  196.95  69.46 359.6
 137.13 499.02 224.64 125.74 490.26 457.05 156.84 119.72 543.6  882.81
 152.58 693.44 229.5  146.79 141.6  116.69  73.96  97.94 292.2  524.88
  92.04  75.88  80.72 112.62  71.2  155.24 294.2  548.55 257.7  396.36
 171.81 488.79 524.16 133.26 135.24 112.44 144.08 985.2  249.96 217.26
 194.22 892.   339.36 447.06 198.5  812.1  493.3  591.66 559.02 517.86
 410.2  266.7   70.91 144.78 429.55 569.17 241.2  127.08 257.08 139.02
  81.66 310.72 185.96  72.32 189.18 206.84 157.02 215.3  596.1   73.1
 279.18 169.68  45.58 225.6  290.4   44.46 156.6  419.94 184.25 140.64
  83.08  64.99 775.6  327.06 363.23 127.   375.55 199.16  30.61 115.78
  28.96 890.73 279.66  80.93 674.5  348.48 435.6  439.55 591.18 260.76
 215.04  91.61 662.13 832.5   91.35 157.76 121.74 825.8  159.9   12.09
 641.9  234.93 167.54 299.1  239.73 664.7  202.65  46.2   88.15 157.26
 296.37 708.4  111.34 580.16  60.25 174.24 421.26  33.63  30.98 247.4
 378.3  334.86 727.8  335.88 240.72  47.07  99.69 264.45 139.65  55.45
 128.91 119.98 352.5  871.   197.6  194.52 173.22  71.88 286.26  81.24
 560.4  186.8  220.23 269.12 454.8  167.54 448.56 293.88 589.5  291.
  39.48  34.81 295.92  42.96 138.48  98.2  129.66 635.6  145.76 201.3
 631.71 385.28 486.3  513.66 473.4  436.85 108.16 248.76 626.22 975.
 483.28  96.96 197.7  724.23 795.51 502.39 172.    68.98 124.96  77.1
 483.72 302.12 698.67 124.65 789.6  178.4  500.22  35.82 136.14 104.88
 178.92 815.67 132.36 257.39  93.36 228.   166.71 697.4  389.04 365.26
  89.28 168.    19.7  531.16  53.72 819.5  568.4  587.6  732.48 845.64
 389.27  84.83 143.26  75.38 253.36  38.42 652.3   52.65 110.61 568.61
  89.28 136.4  174.2  366.4  254.61 778.32 285.92 579.12 188.5  221.56
 772.   721.3  511.04  53.45 222.   763.68 228.18  82.14 382.56  68.58
 382.16 601.09 475.93  52.42 131.3  144.3  457.17  93.38 126.25 790.83
 174.4  379.04  30.62 352.08  50.8  522.06 575.12  54.95 181.41 412.37
  46.41 274.2  973.7  648.2   93.22  54.36  60.87 244.9   92.78 433.45
 138.06 241.6  471.73 440.64 680.31 309.88 186.36 200.92  17.75 621.8
  86.   402.6  324.85  95.15 388.96 425.68 318.08 271.04 384.64 235.8
 211.56  95.36  10.17 206.13 420.56  88.04 648.99 123.84 649.5  742.2
  84.48 250.28  94.8   91.3  285.11  52.38 192.7  267.78 558.7  175.32
 155.82  60.3   78.94  29.74  21.32 281.34  73.26  22.38 655.92 594.6
  74.1  196.96 372.33 527.9  479.75 328.59 168.96 113.24 345.54 428.67
  86.27  25.52 101.52 357.49 238.77 101.43 724.24 125.64  72.93 258.36
 173.74  56.5  214.3  534.36  93.16 522.08  52.35  39.75 720.16  96.8
 332.1   81.44 319.9  206.52 166.68 319.06  87.9  734.7   97.52 769.2
 418.3  463.28 462.45 141.9  302.7  793.28 425.18 283.62 599.2  315.36
 403.56 183.88 138.65  80.71 116.64 313.52 846.1  414.4  159.08 490.1
  87.45 224.52 744.96 410.72 298.8  212.94  42.85 378.68 206.91  78.78
 322.11  98.22  25.46 581.98 211.32  55.12  88.31 356.58 794.25  50.62
 599.52 166.7  744.4  448.56 378.9  257.16 552.23 447.4  276.27 343.74
 266.08 898.38 456.8  253.95  70.56 657.16 168.5   53.78 179.05 211.44
 119.73  65.7  251.4   84.16 395.46 297.99 454.41 276.12 158.   887.94
  91.98  41.78  15.5  290.46  66.66  76.54 299.7  243.03  47.4  172.45
 846.3  258.37 609.56 240.24 172.26  99.84 298.64 159.6   25.45  67.77
 238.36 232.6  877.32 699.72 674.59 318.55  29.52 496.   823.4  602.96
 282.8  766.   116.06 174.9   60.95  40.35 973.8   31.84  65.82 618.38]

In [0]:
totalgross=sum(np.array(df.grossincome))   //total gross income across products
print(totalgross)

15379.369000000002